/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 28/03/2024, 4:33:50 p. m.
    Author     : Jhon
*/
#gestorName{
    text-align: center;
    color:aqua;
    font-size: 22px;
}

#menuNav{
    padding-left: 300px;
}
.nav-link{
    font-size: 18px;
}
#menuItemsCenter li a{
    font-size: 18px;
}
#menuNav li a{
    justify-content: center; /* Centra horizontalmente */
    border: none;
    margin: 0 50px;
}
#menuNav li a:hover{
    background: white;
    color: black;
    border-radius: 5px;
    transition: 0.5s;
}
